/* .card-data{
    width: 30%;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
} */

.custom-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-card img {
    width: 100%;
    height: auto;
}

.custom-card .card-body {
    padding: 20px;
}

.custom-card h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-card p {
    font-size: 14px;
}